.history__title {
  font-size: 32px;
  padding: 30px 0 30px 20px;
}
.history section {
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.history .text {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 2rem;
}
.history .text div {
  margin-bottom: 50px;
  position: relative;
}
.history .text p {
  font-size: 18px;
  color: #555;
  margin: 0;
  font-weight: bold;
}
.history .text a {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.history .text a:hover {
  color: #1386f9;
}
.history .dote {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.5rem;
}
.history .dote div {
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
}
.history .dote div:nth-of-type(1) {
  top: 1.35rem;
}
.history .dote div:nth-of-type(2) {
  top: 10.3rem;
}
.history .dote div:nth-of-type(3) {
  top: 18rem;
}
.history .dote div:nth-of-type(4) {
  top: 27rem;
}
.history .dote div:nth-of-type(5) {
  top: 34.7rem;
}
.history .dote div:nth-of-type(6) {
  top: 42.3rem;
}
.history .dote::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
}
.history section .dote div {
  background-color: #f5ec6e;
}
.history section .dote div:nth-of-type(2) {
  background-color: #ffb042;
}
.history section .dote div:nth-of-type(3) {
  background-color: #e07c01;
}
.history section .dote div:nth-of-type(4) {
  background-color: #e07c01;
}
.history section .dote div:nth-of-type(5) {
  background-color: #ffb042;
}
.history section .dote div:nth-of-type(6) {
  background-color: #f5ec6e;
}
.history .card {
  padding: 30px 25px;
  border: 1px solid lightgrey;
  border-radius: 12px;
  margin-bottom: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.history .arrow-down {
  position: relative;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgb(248, 176, 9);
  margin: 0 auto;
  margin-bottom: 50px;
}
.history .arrow-down::before {
  content: "";
  position: absolute;
  top: -42px;
  left: -1px;
  width: 2px;
  height: 30px;
  background-color: rgba(248, 176, 9, 0.747);
}