.influence h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.influence .section {
  margin-bottom: 50px;
}
.influence .image {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}